---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---

{% include JB/setup %}

<div class="blog-header">
  <h1>Posts By Tag</h1>
</div>

<ul class="tag-box">
  {% assign tags_list = site.tags %} {% for tag in tags_list %}
  <li>
    <a href="#{{ tag[0] | slugify }}-ref"
      >{{ tag[0] }} <span class="count">({{ tag[1].size }})</span></a
    >
  </li>
  {% endfor %}
</ul>

{% for tag in site.tags %}
<div class="tag-section">
  <h2 id="{{ tag[0] | slugify }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% for post in tag[1] %}
    <li>
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      <span class="post-item-date">{{ post.date | date: "%B %d, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
