/* Override some defaults */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700");

:root {
    /* Main colors */
    --yellow: #ffc11e;
    --white: #fff;
    --light-grey: #f6f6f6;
    --grey: #33363d;
    --dark-grey: #262326;
    --black: #080815;
    --red: #ef1161;
    --pst-color-navbar-link: var(--yellow);
    --pst-color-link-hover: var(--yellow);
    --pst-color-inline-code: var(--salmon);

    /* Font Family */
    --pst-font-family-base-system: Inter;
    --pst-font-family-monospace-system: Inconsolata;
    --pst-font-family-base: var(--pst-font-family-base-system);
    --pst-font-family-heading: var(--pst-font-family-base);
    --pst-font-family-monospace: var(--pst-font-family-monospace-system);
}

body {
    font-family: var(--pst-font-family-base);
    font-weight: 400;
    line-height: 1.65;
    background-image: url("https://assets-global.website-files.com/627ac9e2b71e64a6a0b76027/628d27e5874009e9150d8951_vector-grid-white-bg.svg");
}

div.navbar {
    margin: 0;
}

.container {
    width: inherit;
    padding: 0;
}

.container ul {
    /* for IE below version 7 use `width` instead of `max-width` */
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
}

div.row ul li {
    list-style-type: none;
    background: var(--light-grey);
    color: var(--black);
    margin: 1vw;
    padding: 2.222vw 2.778vw;
    font-size: 16px;
    font-weight: 700;
}

div.row ul li a {
    color: var(--black);
}

div.row ul li a:hover {
    color: var(--white);
    text-decoration: none;
}

div.row ul li i {
    font-style: normal;
    font-weight: 400;
}

div.row ul li:hover {
    color: var(--white);
    background: var(--red);
}

div.page-header {
    background-color: var(--black);
    background-image: url("https://assets-global.website-files.com/627ac9e2b71e64a6a0b76027/628d27e5874009e9150d8951_vector-grid-white-bg.svg");
    color: var(--white);
    margin: 0;
    padding: 20px 20px 50px 155px;
}

div.page-header h1 {
    border: 2px solid var(--red);
    border-radius: 5px;
    padding: 5px 20px 5px 5px;
    max-width: fit-content;
}

/* Table taken from http://johnsardine.com/freebies/dl-html-css/simple-little-tab/ */
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:10px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:11px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:10px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	padding-left:10px;
}
table td:first-child {
	text-align: left;
	padding-left:10px;
	border-left: 0;
}
table td {
	padding:8px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/* options for center-aligning figure and caption */
figure.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.align-center {
    text-align: center;
}
